<p>
    <strong>Termos de Uso e políticas de privacidade</strong>
</p>
<p>
    <strong>Esses Termos de uso estão em vigor a partir de 22 de Setembro de 2015.</strong>
</p>
<p>
    <br/>
    Ao acessar ou usar o site do Moovup, o aplicativo móvel disponibilizado pelo Moovup (coletivamente, o "Serviço"), acessado de qualquer modo, você concorda
    com esses termos de uso ("Termos de Uso"). O Serviço é de propriedade ou controlado por Moovup Serviços LTDA, ("Moovup").
    <strong>
        Esses Termos de uso afetam seus direitos e obrigações legais. Se você não concorda com todos esses Termos de Uso, não acesse ou use o Serviço.
    </strong>
    <br/>
    <br/>
    Em alguns momentos, podemos oferecer um recurso especial ou fazer uma promoção para uso do serviço, que possui seus próprios termos e condições que se
    aplicam além desses Termos de Uso. Nesses casos, os termos específicos do recurso especial prevalecem caso haja um conflito com esses Termos de Uso.
    <br/>
    <br/>
    <strong>AVISO LEGAL:</strong>
</p>
<p>
    <strong>
        O SERVIÇO TEM COMO FINALIDADE PROVER GRATUITAMENTE UMA BASE DE CONHECIMENTO COLABORATIVA, EM QUE OS USUÁRIOS COMPARTILHAM SUAS EXPERIÊNCIAS E OPINIÕES
        DE ACORDO COM SEUS HÁBITOS DE VIDA, COM INTUITO DE AJUDAREM UNS AOS OUTROS A TEREM UMA VIDA SAUDÁVEL.
    </strong>
</p>
<p>
    <strong>
        O SERVIÇO NÃO SUBSTITUI A CONSULTA DIRETA E PERSONALIZADA A ESPECIALISTAS AINDA QUE ALGUNS DOS SEUS USUÁRIOS TENHAM FORMAÇÃO DECLARADAMENTE
        ESPECIALIZADA.
    </strong>
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    Termos primários
</p>
<ul>
    <li>
        Você precisa ter pelo menos 18 anos de idade para usar o Serviço;
    </li>
    <li>
        Se você estiver usando o Serviço em nome de uma entidade legal, você declara que está autorizado a participar do acordo, em nome desta entidade legal;
    </li>
    <li>
        Você entende que atualmente o sistema está disponível apenas no território brasileiro e na plataforma móvel baseada no sistema operacional mais recente
        Android;
    </li>
    <li>
        Você entende e concorda que nós nos reservamos o direito de limitar a disponibilidade do Serviço ou qualquer parte do Serviço, para qualquer pessoa,
        área geográfica ou jurisdição, a qualquer momento e a nosso exclusivo critério, e a limitar a quantidade de qualquer conteúdo, programa, produto,
        serviço ou outro recurso fornecido pelo Moovup;
    </li>
    <li>
        Você não pode publicar fotos, imagens, arquivos ou outros tipos de conteúdo por meio do Moovup que sugiram violência, nudez, nudez parcial,
        discriminação, atos ilegais, transgressões, ódio, pornografia ou sexo;
    </li>
    <li>
        As fotos a serem publicadas devem seguir o padrão RGB ou PPG e PNG, para o caso de exibirem algum texto. As fotos seguirão as recomendações informadas
        pelo “Moovup” nas seções onde forem pertinentes: perfil, resposta e compartilhamento de atividades;
    </li>
    <li>
        Você é responsável por qualquer atividade que ocorra através de sua conta e concorda em não vender, transferir, licenciar ou ceder sua conta, seus
        seguidores, seu nome de usuário ou qualquer direito da conta.
    </li>
    <li>
        Com exceção de pessoas ou entidades que estejam expressamente autorizadas a criar contas em nome de seus empregadores ou clientes, o Moovup proíbe a
        criação de, e você concorda que não irá criar, uma conta para qualquer outra pessoa além de você mesmo. Você também declara que todas as informações
        fornecidas por você ou fornecidas ao Moovup no momento do cadastro e em qualquer outro momento são verdadeiras, precisas, atuais e completas e você
        concorda em atualizar suas informações quando necessário para manter sua veracidade e exatidão;
    </li>
    <li>
        Você concorda que não irá solicitar, coletar ou usar as credenciais de login de outros usuários do Moovup;
    </li>
    <li>
        Você é responsável por manter sua senha em sigilo e protegida.
    </li>
    <li>
        Você não pode difamar, perseguir, praticar <em>bullying</em>, abusar, assediar, ameaçar, intimidar ou fingir ser pessoas ou entidades;
    </li>
    <li>
        Você tem o direito de compartilhar suas experiências e opiniões relacionadas aos temas levantados por outros usuários do Serviço, mas não pode publicar
        informações privadas ou confidenciais através do Serviço, incluindo, entre outras coisas, as informações de cadastro de pessoas físicas ou outros
        números de identidade nacional, números de telefone que não sejam conhecidos publicamente ou endereços de e-mail que não sejam conhecidos publicamente;
    </li>
    <li>
        Você concorda que o Moovup poderá se valer das configurações autorizadas por você no Serviço para estabelecer comunicação, através de e-mail;
    </li>
    <li>
        <strong>
            Você entende e concorda que os conteúdos gerados por você no formato de perguntas, de respostas ou de simples publicação de textos e arquivos,
            estarão permanentemente preservados na base de conhecimento do Serviço, mesmo que você encerre sua conta no Serviço
        </strong>
        ;
    </li>
    <li>
        <strong>
            Você concorda que as perguntas e respostas dadas por você poderão ser compartilhadas com outros usuários, através do Serviço, mesmo que esses não
            sejam considerados em seu círculo de relacionamento
        </strong>
        ;
    </li>
    <li>
        Você entende que as ferramentas oferecidas pelo Serviço são auxiliares para que você atinja seus objetivos de vida saudável, mas NÃO configura certeza
        que eles serão alcançados;
    </li>
    <li>
        Você não pode usar o Serviço para nenhuma finalidade ilegal ou não autorizada. Você concorda em obedecer todas as leis, regras e normas (por exemplo,
        federais, estaduais e municipais) aplicáveis ao seu uso do Serviço e seu Conteúdo (definido abaixo), incluindo, entre outras coisas, leis de direitos
        autorais.;
    </li>
    <li>
        <strong>
            Você é o único responsável por sua conduta e por qualquer dado, texto, arquivos, informação, nomes de usuário, imagens, gráficos, fotos, perfis,
            clipes de áudio e vídeo, sons, trabalhos musicais, trabalhos de autoria, aplicativos, links e outro conteúdo ou materiais (coletivamente,
            "Conteúdo") que você envie, publique ou exiba no Serviço ou por meio dele
        </strong>
        ;
    </li>
    <li>
        Você não pode mudar, modificar, adaptar ou alterar o Serviço ou mudar, modificar ou alterar outro site de forma que fique implícito falsamente que ele
        está associado ao Serviço ou ao Moovup;
    </li>
    <li>
        Você não pode criar ou enviar e-mails, fazer comentários e usar opções do Serviço como “Ajudou”, que revelem qualquer forma de comunicação de assédio a
        nenhum usuário do Moovup;
    </li>
    <li>
        Você não pode usar nomes de domínio ou URLs da Web em seu nome de usuário;
    </li>
    <li>
        Você não pode interferir ou interromper o Serviço ou servidores ou redes conectados ao Serviço, inclusive por meio de transmissão de worms, vírus,
        spyware, malware ou qualquer outro código de natureza destrutiva ou disruptiva. Você não pode inserir conteúdo ou código ou, então, alterar ou
        interferir na forma como qualquer página do Moovup é renderizada ou exibida no navegador ou dispositivo de um usuário;
    </li>
    <li>
        Você não pode criar contas com o Serviço através de meios não autorizados, incluindo, entre outros, através da utilização de um dispositivo
        automatizado, script, bot, spider, rastreador ou scraper;
    </li>
    <li>
        Você não pode tentar impedir outro usuário de usar ou aproveitar o Serviço e você não pode incentivar ou facilitar violações desses Termos de Uso ou
        quaisquer outros termos do Moovup;
    </li>
    <li>
        A violação desses Termos de Uso pode, a exclusivo critério do Moovup, resultar no encerramento da sua conta do Moovup.
        <strong>
            Você entende e concorda que o Moovup não pode e não será responsável pelo Conteúdo publicado no Serviço e você usa o Serviço por sua conta e risco
        </strong>
        . Se você violar o texto ou a intenção desses Termos de Uso, ou se, de outra forma, gerar risco ou possível exposição legal para o Moovup, nós podemos
        interromper o fornecimento do Serviço, na sua totalidade ou parcialmente, para você;
    </li>
    <li>
        <strong>
            Você concorda que o Moovup poderá excluir de forma compulsória qualquer conteúdo aplicado ao Serviço que não esteja de acordo com os Termos de Uso
            do Serviço
        </strong>
        .
    </li>
</ul>
<p>
    Condições gerais
</p>
<ul>
    <li>
        Nós nos reservamos o direito de modificar ou encerrar o Serviço ou o seu acesso ao Serviço por qualquer motivo, sem aviso prévio, a qualquer momento e
        sem obrigações com você. Você pode desativar sua conta do Moovup fazendo login no Serviço e preenchendo o formulário disponível aqui:
        https://Moovup.com.br/login/remove. Se nós encerrarmos seu acesso ao Serviço ou você usar o formulário detalhado acima para desativar sua conta, suas
        fotos, comentários, opções Curtir, amizades e todos os outros dados não estarão mais acessíveis através de sua conta (por exemplo, os usuários não
        poderão mais navegar até o seu nome de usuário e visualizar suas fotos), mas esses materiais e dados podem permanecer e aparecer dentro do Serviço (por
        exemplo, se o seu Conteúdo foi recompartilhado por outras pessoas).Além disto, todas as perguntas e respostas geradas por você continuarão sendo
        exibidas nas situações em que os temas questionados ou pesquisados por outros usuários tiverem alinhamento com o conteúdo gerado por você;
    </li>
    <li>
        Após o encerramento, todas as licenças de uso e outros direitos concedidos a você nesses Termos de Uso cessarão imediatamente.
    </li>
    <li>
        Nós nos reservamos o direito, a nosso exclusivo critério, de alterar esses Termos de Uso (<strong>"Termos Atualizados"</strong>) de tempos em tempos. A
        menos que façamos uma alteração por motivos jurídicos ou administrativos, forneceremos um aviso com razoável antecedência antes de os Termos
        Atualizados entrarem em vigor. Você concorda que nós podemos notificá-lo sobre os Termos Atualizados publicando-os no Serviço, e que o seu uso do
        Serviço após a data de efetivação dos Termos Atualizados (ou envolvimento em determinada conduta que nós podemos especificar) constitui seu
        consentimento dos Termos Atualizados. Portanto, você deve analisar esses Termos de Uso e quaisquer Termos Atualizados antes de usar o Serviço. Os
        Termos Atualizados entrarão em vigor no momento da publicação, ou em data posterior conforme pode ter sido especificado nos Termos Atualizados, e se
        aplicarão ao seu uso do Serviço deste momento em diante. Esses Termos de Uso regerão todas as disputas que surjam após a data de efetivação dos Termos
        Atualizados.
    </li>
    <li>
        Nós nos reservamos o direito de recusar o acesso ao Serviço a qualquer pessoa, que esteja envolvida em nossas listas de usuários mal comportados
        segundo os Termos de Uso do Serviço;
    </li>
    <li>
        Nós podemos, mas não temos a obrigação de, remover, editar, bloquear e/ou monitorar Conteúdo ou contas com Conteúdo que nós determinamos, a nosso
        exclusivo critério, que viola esses Termos de Uso.
    </li>
    <li>
        Você é o único responsável por sua interação com outros usuários do Serviço, seja on-line ou off-line. Você concorda que o Moovup não é responsável ou
        seja responsabilizado pela conduta de nenhum usuário. O Moovup se reserva o direito, mas não tem a obrigação, de monitorar ou envolver-se em disputas
        entre você e outros usuários. Tenha bom senso e exercite o seu melhor julgamento ao interagir com outros, incluindo quando você envia ou publica
        Conteúdo ou qualquer informação pessoal ou outras informações.
    </li>
    <li>
        Podem existir links do Serviço, ou de comunicações que você recebe do Serviço, para sites ou recursos de terceiros. Também podem existir links para
        sites ou recursos de terceiros em imagens ou comentários dentro do Serviço. O Serviço também inclui conteúdo de terceiros que nós não controlamos ou
        mantemos. A funcionalidade do Serviço pode também permitir interações entre o Serviço e um site ou recurso de terceiros, incluindo aplicativos que
        conectam o Serviço ou seu perfil no Serviço a um site ou recurso de terceiros. Por exemplo, o Serviço pode incluir um recurso que permita que você
        compartilhe Conteúdo do Serviço ou seu Conteúdo com um terceiro, que pode ser publicado abertamente no serviço ou aplicativo deste terceiro. A
        utilização desta funcionalidade normalmente exige que você faça login em sua conta no serviço do terceiro e você faz isso por sua conta e risco. O
        Moovup não controla nenhum desses serviços da Web de terceiros ou qualquer conteúdo deles. Você reconhece e concorda expressamente que o Moovup não é,
        de forma alguma, responsável por esses serviços ou recursos de terceiros. SUA CORRESPONDÊNCIA E NEGÓCIOS COM TERCEIROS OBTIDOS ATRAVÉS DO SERVIÇO SÃO
        SOMENTE ENTRE VOCÊ E O TERCEIRO. Você pode optar, a seu exclusivo e absoluto critério e por sua conta e risco, usar aplicativos que conectam o Serviço
        ou seu perfil no Serviço a um serviço de terceiros (cada um, um "Aplicativo") e este Aplicativo pode interagir com, conectar a ou coletar e/ou extrair
        informações de/para seu perfil no Serviço. Ao usar esses Aplicativos, você reconhece e concorda com o seguinte: (i) se você usa um Aplicativo para
        compartilhar informações, você está concordando que informações do seu perfil no Serviço sejam compartilhadas; (ii) seu uso de um Aplicativo pode fazer
        com que informações de identificação pessoal sejam abertamente divulgadas e/ou associadas a você, mesmo se o Moovup não tiver ele mesmo fornecido essas
        informações; e (iii) seu uso de um Aplicativo é por sua própria conta e risco, e você isenta o Moovup (definidas abaixo) de qualquer responsabilidade
        relacionada ao Aplicativo.
    </li>
    <li>
        Você concorda que você é responsável por todas as cobranças de dados a que você ficar sujeito através do uso do Serviço.
    </li>
    <li>
        Nós proibimos o rastreamento, scraping, armazenamento em cache ou, de qualquer outro modo, o acesso a qualquer conteúdo no Serviço através de meios
        automatizados, incluindo, entre outras coisas, perfis e fotos de usuários (exceto como resultado de protocolos ou tecnologias de mecanismos de busca
        padrão com a autorização expressa do Moovup).
    </li>
</ul>
<p>
    Direitos
</p>
<ul>
    <li>
        O Moovup não reivindica a propriedade de nenhum Conteúdo que você publica no Serviço ou através dele. Em vez disso, você concede ao Moovup, por meio
        deste, uma licença global, não exclusiva, sublicenciável, sem royalties e totalmente gratuita de uso do Conteúdo que você publica no Serviço ou através
        dele, sujeito aos seguintes princípios: "Compartilhamento amplo de suas informações originadas de perguntas e respostas", "armazenamento de suas
        informações na base de conhecimento do Serviço " e "suas escolhas sobre suas informações". Você pode escolher quem visualiza suas Atividades, incluindo
        suas fotos, mas autoriza a visualização irrestrita de conteúdo gerado a partir de perguntas e respostas do Serviço;
    </li>
    <li>
        Parte do Serviço é mantida através de receita de propaganda ou venda direta de produtos através de comércio eletrônico.
    </li>
    <li>
        Você concorda, por meio deste, que o Moovup pode colocar esses anúncios , ofertas de parceiros e promoções no Serviço ou no, sobre ou em conjunto com
        seu Conteúdo. A maneira, modo e abrangência desses anúncios e promoções estão sujeitos a alterações sem qualquer tipo de aviso a você.
    </li>
    <li>
        Você reconhece que nem sempre podemos identificar serviços e produtos pagos, conteúdo patrocinado ou comunicação comercial como tal;
    </li>
    <li>
        Você declara e garante que: (i) o Conteúdo publicado por você no Serviço ou através dele é de sua propriedade ou, então, você possui o direito de
        conceder os direitos e licenças apresentados nesses Termos de Uso; (ii) a publicação e uso do seu Conteúdo no Serviço ou através dele não viola,
        utiliza incorretamente ou transgride os direitos de qualquer terceiro, incluindo, sem limitação, direitos de privacidade, direitos de publicidade,
        direitos autorais, marca comercial e/ou outros direitos de propriedade intelectual; e (iii) você possui o direito e capacidade legal de participar
        desses Termos de Uso em sua jurisdição;
    </li>
    <li>
        O Serviço contém conteúdo de propriedade do Moovup ou licenciado por ele ("Conteúdo do Moovup"). O Conteúdo do Moovup é protegido por direitos
        autorais, marca comercial, patente, segredo comercial e outras leis, e, entre você e o Moovup, o Moovup possui e detém todos os direitos do Conteúdo do
        Moovup e o Serviço. Você não irá remover, alterar ou ocultar quaisquer direitos autorais, marca comercial, marca de serviço ou outros avisos de
        direitos proprietários incorporados a ou que acompanham o Conteúdo do Moovup e você não irá reproduzir, modificar, adaptar, preparar trabalhos
        derivados baseados em, executar, exibir, publicar, distribuir, transmitir, difundir, vender, licenciar ou, de outro modo, explorar o Conteúdo do
        Moovup. O Conteúdo do Moovup será identificado com a associação feita ao usuário Master e ao logotipo do Serviço;
    </li>
    <li>
        O nome e o logotipo do Moovup são marcas registradas do Moovup, e não devem ser copiados, imitados ou usados, em sua totalidade ou parcialmente, sem a
        autorização prévia por escrito do Moovup. Além disso, todos os cabeçalhos de página, elementos gráficos personalizados, ícones de botões e scripts são
        marcas de serviço, marcas comerciais e/ou conjunto-imagem do Moovup, e não podem ser copiados, imitados ou usados, em sua totalidade ou parcialmente,
        sem a autorização prévia por escrito do Moovup;
    </li>
    <li>
        Embora a intenção do Moovup seja de que o Serviço esteja o máximo possível disponível, pode haver ocasiões em que o Serviço pode ser interrompido,
        incluindo, entre outras coisas, para manutenções agendadas ou atualizações, para reparos de emergência, ou devido a falha dos links de telecomunicação
        e/ou equipamento;
    </li>
    <li>
        O Moovup não é um serviço de backup e você concorda que não irá depender do Serviço com o propósito de backup ou armazenamento do Conteúdo. O Moovup
        não terá nenhuma obrigação em relação a você em função de qualquer modificação, suspensão ou interrupção dos Serviços, ou a perda de qualquer Conteúdo.
        Você também reconhece que a Internet pode estar sujeita a falhas de segurança e que o envio do Conteúdo ou outras informações pode não ser seguro;
    </li>
    <li>
        Você concorda que o Moovup não é responsável por, e não pode apoiar, Conteúdo publicado dentro do Serviço. O Moovup pode mas não tem nenhuma obrigação
        de pré-selecionar, monitorar, editar ou remover qualquer Conteúdo. Se o seu Conteúdo viola esses Termos de Uso, você pode arcar com a responsabilidade
        legal por esse Conteúdo.
    </li>
    <li>
        O Moovup não poderá compartilhar ou disponibilizar suas informações de perfil, como e-mail, foto, data de nascimento profissão, hobby e outras
        registradas em seu cadastro particular;
    </li>
    <li>
        Exceto com relação as informações de perfil, você reconhece e concorda que o seu relacionamento com o Moovup não é um relacionamento confidencial, que
        depende de confiança ou um relacionamento especial de qualquer outro tipo, e que a sua decisão de enviar qualquer Conteúdo não coloca o Moovup em uma
        posição que seja, de qualquer forma, diferente da posição mantida por membros do público em geral, incluindo no que diz respeito ao seu Conteúdo.
        Nenhum de seus Conteúdos estará sujeito a qualquer obrigação de confidencialidade por parte do Moovup, e o Moovup não será responsabilizado por
        qualquer uso ou divulgação de qualquer Conteúdo fornecido por você.
    </li>
    <li>
        Se você optar por nos enviar conteúdo, informações, ideias, sugestões ou outros materiais, você concorda que o Moovup está autorizado a utilizar este
        conteúdo, informações, ideias, sugestões ou outros materiais, para qualquer finalidade, seja qual for, incluindo, entre outras coisas, o
        desenvolvimento e comercialização de produtos e serviços, sem qualquer obrigação ou pagamento de qualquer tipo devido a você.
    </li>
</ul>
<p>
    Denúncia de violações de direitos autorais e outros direitos de propriedade intelectual
</p>
<ul>
    <li>
        Nós respeitamos os direitos de terceiros, e esperamos que você faça o mesmo.
    </li>
    <li>
        Se você violar repetidamente os direitos de propriedade intelectual de terceiros, nós desativaremos sua conta quando apropriado.
    </li>
</ul>
<p>
    Isenção de Garantias- Limites de responsabilidade
</p>
<p>
    O SERVIÇO, INCLUINDO, ENTRE OUTRAS COISAS, O CONTEÚDO DO MOOVUP, É FORNECIDO "NO ESTADO EM QUE SE ENCONTRA", "CONFORME DISPONÍVEL" E "COM TODAS AS FALHAS".
    NO RIGOR MÁXIMO PERMITIDO PELA LEGISLAÇÃO, O MOOVUP OU SUA EMPRESA DE ORIGEM OU QUALQUER UM DE SEUS FUNCIONÁRIOS, GERENTES, DIRETORES OU AGENTES
    (COLETIVAMENTE, AS "PARTES DO MOOVUP") NÃO FORNECEM NENHUMA DECLARAÇÃO FORMAL OU GARANTIA OU ENDOSSO DE QUALQUER TIPO, SEJA QUAL FOR, EXPLÍCITO OU
    IMPLÍCITO, EM RELAÇÃO A: (A) O SERVIÇO; (B) O CONTEÚDO DO MOOVUP; (C) O CONTEÚDO DO USUÁRIO; OU (D) A SEGURANÇA ASSOCIADA À TRANSMISSÃO DE INFORMAÇÕES PARA
    O MOOVUP OU ATRAVÉS DO SERVIÇO. ALÉM DISSO, AS PARTES DO MOOVUP REJEITAM, POR MEIO DESTE, TODAS AS GARANTIAS, EXPLÍCITAS OU IMPLÍCITAS, INCLUINDO, ENTRE
    OUTRAS, AS GARANTIAS DE COMERCIALIZAÇÃO, ADEQUAÇÃO A UMA DETERMINADA FINALIDADE, NÃO VIOLAÇÃO, DE TÍTULO, ADUANEIRA, DO SETOR, DE USO PACÍFICO, DE
    INTEGRAÇÃO DE SISTEMA E DE AUSÊNCIA DE VÍRUS DE COMPUTADOR.
    <br/>
    <br/>
    AS PARTES DO MOOVUP NÃO DECLARAM OU GARANTEM QUE O SERVIÇO NÃO APRESENTARÁ ERROS OU INTERRUPÇÕES; QUE OS DEFEITOS SERÃO CORRIGIDOS; OU QUE O SERVIÇO OU O
    SERVIDOR QUE DISPONIBILIZA O SERVIÇO É ISENTO DE COMPONENTE PREJUDICIAL, INCLUINDO, ENTRE OUTROS, VÍRUS. AS PARTES DO MOOVUP NÃO FORNECEM NENHUMA
    DECLARAÇÃO OU GARANTIA DE QUE AS INFORMAÇÕES (INCLUINDO QUAISQUER INSTRUÇÕES) NO SERVIÇO SEJAM PRECISAS, COMPLETAS OU ÚTEIS. VOCÊ RECONHECE QUE O SEU USO
    DO SERVIÇO É POR SUA PRÓPRIA CONTA E RISCO.
    <br/>
    <br/>
    AO ACESSAR OU USAR O SERVIÇO, VOCÊ DECLARA E GARANTE QUE SUAS ATIVIDADES SÃO LÍCITAS EM TODAS AS JURISDIÇÕES DE ONDE VOCÊ ACESSA OU USA O SERVIÇO.
    <br/>
    <br/>
    AS PARTES DO MOOVUP NÃO ENDOSSAM NENHUM CONTEÚDO E REJEITAM ESPECIFICAMENTE QUALQUER RESPONSABILIDADE OU OBRIGAÇÃO EM RELAÇÃO A QUALQUER PESSOA OU ENTIDADE
    POR QUALQUER PERDA, DANO (SEJA REAL, CONSEQUENCIAL, PUNITIVO OU QUALQUER OUTRO), PREJUÍZO, REIVINDICAÇÃO, RESPONSABILIZAÇÃO OU OUTRA CAUSA DE QUALQUER TIPO
    OU ESPÉCIE COM BASE EM OU COMO CONSEQUÊNCIA DE QUALQUER CONTEÚDO.
</p>
<p>
    EM NENHUMA CIRCUNSTÂNCIA AS PARTES DO MOOVUP TERÃO QUALQUER OBRIGAÇÃO PARA COM VOCÊ POR QUALQUER PERDA OU DANO DE QUALQUER TIPO (INCLUINDO, ENTRE OUTROS,
    POR QUALQUER PERDA OU DANO DIRETO, INDIRETO, ECONÔMICO, EXEMPLAR, ESPECIAL, PUNITIVO, ACIDENTAL OU CONSEQUENCIAL) QUE ESTEJA DIRETA OU INDIRETAMENTE
    RELACIONADO A: (A) O SERVIÇO; (B) O CONTEÚDO DO MOOVUP; (C) O CONTEÚDO DO USUÁRIO; (D) SEU USO, IMPOSSIBILIDADE DE USO, OU O DESEMPENHO DO SERVIÇO; (E)
    QUALQUER AÇÃO TOMADA RELATIVA A UMA INVESTIGAÇÃO PELAS PARTES DO MOOVUP OU AUTORIDADES COMPETENTES EM RELAÇÃO AO SEU USO DO SERVIÇO OU AO USO DO SERVIÇO
    POR OUTRA PARTE; (F) QUALQUER AÇÃO TOMADA RELATIVA A PROPRIETÁRIOS DE DIREITOS AUTORAIS OU OUTROS DIREITOS DE PROPRIEDADE INTELECTUAL; (G) QUALQUER ERRO OU
    OMISSÃO NA OPERAÇÃO DO SERVIÇO; OU (H) QUALQUER DANO AO COMPUTADOR, DISPOSITIVO MÓVEL OU OUTRO EQUIPAMENTO DE QUALQUER USUÁRIO OU TECNOLOGIA INCLUINDO,
    ENTRE OUTROS, DANOS EM FUNÇÃO DE FALHAS DE SEGURANÇA OU DE QUALQUER TIPO DE VÍRUS, BUGS, FALSIFICAÇÃO, FRAUDE, ERRO, OMISSÃO, INTERRUPÇÃO, DEFEITO, ATRASO
    NA OPERAÇÃO OU TRANSMISSÃO, FALHA NA LINHA OU REDE DE COMPUTADORES OU QUALQUER OUTRO TIPO DE PROBLEMA TÉCNICO OU FUNCIONAMENTO INCORRETO, INCLUINDO, ENTRE
    OUTROS, DANOS POR PERDA DE LUCROS, PERDA DE CREDIBILIDADE, PERDA DE DADOS, INTERRUPÇÃO DO TRABALHO, PRECISÃO DE RESULTADOS, OU FALHA OU FUNCIONAMENTO
    INCORRETO DE COMPUTADOR, MESMO SE ANTEVISTOS OU MESMO SE AS PARTES DO MOOVUP TIVEREM SIDO INFORMADAS OU DEVESSEM TER CONHECIMENTO SOBRE A POSSIBILIDADE DE
    TAIS DANOS, SEJA EM UMA AÇÃO CONTRATUAL, NEGLIGÊNCIA, RESPONSABILIDADE OBJETIVA OU DELITO (INCLUINDO, ENTRE OUTRAS COISAS, SE CAUSADO TOTAL OU PARCIALMENTE
    POR NEGLIGÊNCIA, FORÇA MAIOR, FALHA DE TELECOMUNICAÇÃO, OU ROUBO OU DESTRUIÇÃO DO SERVIÇO). EM NENHUM CASO AS PARTES DO MOOVUP TERÃO QUALQUER TIPO DE
    OBRIGAÇÃO PARA COM VOCÊ OU QUALQUER OUTRA PESSOA POR PERDA, DANOS OU PREJUÍZO, INCLUINDO, ENTRE OUTROS, MORTE OU FERIMENTOS.
</p>
<p>
    <br/>
    O MOOVUP NÃO É RESPONSÁVEL PELAS AÇÕES, CONTEÚDO, INFORMAÇÕES OU DADOS DE TERCEIROS, E VOCÊ NOS ISENTA E A NOSSOS DIRETORES, FUNCIONÁRIOS E AGENTES DE
    QUALQUER REIVINDICAÇÃO E DANO, CONHECIDO E DESCONHECIDO, RESULTANTE DE OU RELACIONADO DE ALGUMA FORMA A QUALQUER REIVINDICAÇÃO QUE VOCÊ TENHA CONTRA ESSES
    TERCEIROS.
</p>
<p>
    Fórum
</p>
<p>
    Para qualquer ação judicial, você concorda em resolver qualquer disputa que tenha com o Moovup exclusivamente em um tribunal estadual localizado em São
    Paulo, São Paulo capital, com o propósito de pleitear todas essas disputas.
</p>
